# Web scraping
selenium
webdriver-manager
requests
beautifulsoup4
lxml

# Banco de dados (Supabase)
supabase
psycopg2-binary
sqlalchemy

# Utilidades
schedule
pandas
python-dotenv
pymysql
cryptography